body {
    background-image: url('images/prismatifyBG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2px;
}

img {
    display: block;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0.5px;
}

p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

input {
    font-family: "Cabin", sans-serif;
    display: block;
    width: 500px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: "Cabin", sans-serif;
    font-weight: 800;
    display: block;
    width: 200px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.mycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


